{% extends 'base.html' %}
{% load static %}

{%block title %}Your Account{%endblock%}
{%block image %}https://images.unsplash.com/photo-1521321205814-9d673c65c167?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80{%endblock%}

{%block content %}
<div class="site-section bg-light">
  <div class="container">
    <div class="row col-md-4 mx-auto text-center mb-4 section-heading">
      <h2 class="mb-5">User Profile</h2>
    </div>
      
    <div class="col-md-5 mx-auto lg-mb-5">
      <ul>
        <li>Username: {{current_user.username}}</li>
        <li>Email Address:</li>
      </ul>
      
    </div>
  </div>
</div>


{%endblock%}
