<!-- load base.html--> 
{% extends 'base.html' %}
<!-- load static folder styling and images-->  
{% load static %}
<!-- load crispy form--> 
{% load crispy_forms_tags %}

<!-- .site-section carousel-->  
{%block title %}User Registration{%endblock%}
{%block image %}<div style ="background-image: url({% static 'images/login.jpg' %})">{%endblock%}

<!-- .site-section content-->  
{% block content %}

  <div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2 class="mb-5">User Registration</h2>
        </div>
      </div>
      
<!-- user registration form--> 
      <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary pill px-4 py-2 text-black">Register</button>
      </form>
    </div>
  </div>

{% endblock %}
  <!-- end of site-section content-->   