{% extends 'base.html' %}
{% load static %}

{%block title %}Your Cart{%endblock%}
{%block image %}https://images.unsplash.com/photo-1517760307355-e48f68215de6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60{%endblock%}

{%block content %}
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2 class="mb-5">View Cart</h2>
            </div>
        </div>

    <ul>
        <div class="col-md-4 mx-auto mb-4 section-heading">
        {%for id,course in shopping_cart.items %}
        <li>
           Class Enrolled: {{course.title}}<br/>
           Price:  S${{course.cost}} 
           
            <p><a href="{% url 'remove_from_cart' course_id=course.id %}" class="btn btn-primary pill px-4 py-2 text-white">Enroll Now</a></p>
     
        </li>
        
    {%endfor%}
    <br/>
    <button type="submit" onclick="window.location='../checkout'">Checkout</button>
    <button type="submit" onclick="window.location='../checkout'">Clear Cart</button>

    
    </ul>
    </div>
</div>
{%endblock %}

