<!-- load base.html--> 
{% extends 'base.html' %}
<!-- load static folder styling and images-->  
{% load static %}

<!-- .site-section carousel--> 
{%block title %}Change Password{%endblock%}
{%block image %}<div style ="background-image: url({% static 'images/login.jpg' %})">{%endblock%}

{% block content %}
<!-- .site-section content-->
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto text-center mb-4 section-heading">
                <h2 class="mb-5">Change Password</h2>
            </div>
        </div>
    </div>
    
<!-- change password form-->        
    <form method="post">
    {% csrf_token %}
    <div class="container">
        <div class="row col-md-6 mx-auto mb-5 section-heading">
        {{ form.as_p }}
        </div>
    </div>
        
    <div class="container">
        <div class="row col-md-6 mx-auto mb-5 section-heading">
        <button type="submit" class="btn btn-primary pill px-4 py-2 text-black">Submit</button>
        </div>
    </div>
    </form>
</div>
<!--  end of site-section content-->  
{% endblock %}
