<!-- load base.html--> 
{% extends 'base.html' %}
<!-- load static folder styling and images-->  
{% load static %}

<!-- .site-section carousel-->  
{%block title %}Account Login{%endblock%}
{%block image %}<div style ="background-image: url({% static 'images/login.jpg' %})">{%endblock%}

 
{% block content %}
<!-- .site-section content--> 
    <div class="site-section bg-light">
        <div class="container">
            <div class="col-md-4 mx-auto text-center mb-4 section-heading">
                <h2 class="mb-5">Login</h2>
            </div>
            
        <!-- login form--> 
            <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="row col-md-4 mx-auto text-center mb-4 section-heading">
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td><td><input type="submit" class="btn btn-primary px-4 py-2 text-black" value="login"></td>
                </tr>
            </table>
            
        <!-- password reset--> 
            <a href ="{% url 'password_reset' %}">Reset password?</a>
            <!--<input type="hidden" name="next" value="{{ next }}">-->
            </form>

            </div>
        </div>
    </div>
  <!--  end of site-section content--> 
{% endblock %}
 
