<!-- load base.html--> 
{% extends 'base.html' %}
<!-- load static folder styling and images-->  
{% load static %}

<!-- load crispy form--> 
{% load crispy_forms_tags %}

<!-- .site-section carousel-->  
{%block title %}Reset Password Completed{%endblock%}
{%block image %}<div style ="background-image: url({% static 'images/login.jpg' %})">{%endblock%}


{% block content %}
<!-- .site-section content--> 
<div class="site-section bg-light">
    <div class="container">
        <div class="col-md-4 mx-auto text-center mb-4 section-heading">
            <h2 class="mb-5">Password Changed!</h2>
                <p>You may now <a href="{% url 'login' %}">Log in</a> again.</p>
        </div>
    </div>
<!--  end of site-section content--> 
{% endblock %}
