{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{%block title %}Reset Password Confirmation{%endblock%}
{%block image %}https://images.unsplash.com/photo-1508780709619-79562169bc64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80{%endblock%}


{% block content %}
<div class="site-section bg-light">
    <div class="container">
        <div class="col-md-4 mx-auto text-center mb-4 section-heading">
            <h2 class="mb-5">Set New Password</h2>
            
          {% if validlink %}
            <form method="post" novalidate>
              {% csrf_token %}
              {{ form|crispy }}
              <button type="submit" class="btn btn-primary">Save</button>
            </form>
          {% else %}
            <p class="text-danger">Invalid token.</p>
            <p class="card-text">
              <a href="{% url 'password_reset' %}">Request a new password reset token</a>
            </p>
          {% endif %}

      </div>
    </div>
  </div>
{% endblock %}