<!-- load base.html--> 
{% extends 'base.html' %}
<!-- load static folder styling and images-->  
{% load static %}
<!-- load crispy form--> 
{% load crispy_forms_tags %}

<!-- .site-section carousel-->
{%block title %}Reset Password Confirmation{%endblock%}
{%block image %}<div style ="background-image: url({% static 'images/login.jpg' %})">{%endblock%}

{% block content %}
<!-- .site-section content--> 
  <div class="row justify-content-center">
    <div class="col-8">
      <h2>Reset your password</h2>
        <p>We've emailed instructions for resetting your password. You should receive the email if your account is registered.</p>
        <p>If you don't receive an email, please ensure you've entered the correct email address and check your junk mail folder.</p>
    </div>
  </div>
<!--  end of site-section content--> 
{% endblock %}