{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{%block title %}Yoga Class Passes{%endblock%}
{%block image %}https://images.unsplash.com/photo-1485727749690-d091e8284ef3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80{%endblock%}

{%block content %}

<div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Class Passes</h2>
          </div>
        </div>

        <div class="row">
          {% for c in all_course_pass %}
            <div class="col-md-6 col-lg-4 mb-5">
            <div class="program">
              <div class="program-body">
                <h3 class="heading mb-2"><a href="#"><strong>{{c.title}}</strong></a></h3>
                <p>{{c.desc}}</p>
                <p><a href="#"></a> Instructor: <a href="{% url 'aboutus'%}">{{c.instructor.first_name}} {{c.instructor.last_name}}</a></p>
                <h3 class="heading mb-2"><strong>Time:</strong></h3>
                <p>
                <span class="d-block">{{c.day}}</span>
                <span class="d-block">{{c.start_time}}</span>
                </p>
                <div class="span"><span class="mr-4"><span class="icon-schedule icon"></span> {{c.number_of_minutes}} minutes</span></div>
                </br>
                <h3 class="heading mb-2"><strong>Price:</strong></h3>
                <p>
                <span class="d-block">S${{c.cost|floatformat:2}}</span>
                </p>
                <p>
                <span class="d-block">Qty :{{c.quantity}}</span>
                </p>                
                </br>
                <p><a href="" class="btn btn-primary pill px-4 py-2 text-white">Enroll Now</a></p>
              </div>
            </div>
          </div>
          {% endfor %} 
      </div>
    </div>
   </div>      
{%endblock%}  
