<!-- load base.html--> 
{% extends 'base.html' %}
<!-- load static folder styling and images-->  
{% load static %}
<!-- load crispy form--> 
{% load crispy_forms_tags %}

<!-- .site-section carousel-->  
{%block title %}Yoga Classes{%endblock%}
{%block image %}<div style ="background-image: url({% static 'images/classes.jpg' %})">{%endblock%}

<!-- .site-section content-->  
{%block content %}

    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 mx-auto text-center mb-5 section-heading">
            <h2 class="mb-5">Classes</h2>
          </div>
        </div>
        
 <!-- courses details-->        
        <div class="row">
          {% for c in all_courses %}
          <div class="col-md-6 col-lg-4 mb-5">
            <div class="program">
              {%if c.image %}
              <a href="#" class="d-block mb-0 thumbnail"><img src="{{c.image.cdn_url}}" alt="Image" class="img-fluid"></a>
                {%endif%}
                <div class="program-body">
                  <h3 class="heading mb-2"><a href="#"><strong>{{c.title}}</strong></a></h3>
                    <p>{{c.desc}}</p>
                    <p><a href="#"></a> Instructor: <a href="{% url 'aboutus'%}">{{c.instructor.first_name}} {{c.instructor.last_name}}</a></p>
                  <h3 class="heading mb-2"><strong>Time:</strong></h3>
                    <p>
                      <span class="d-block">{{c.day}}</span>
                      <span class="d-block">{{c.start_time}}</span>
                    </p>
                    <div class="span"><span class="mr-4"><span class="icon-schedule icon"></span> {{c.number_of_minutes}} minutes</span></div>
                      </br>
                      <h3 class="heading mb-2"><strong>Price:</strong></h3>
                      <p>
                        <span class="d-block">S${{c.cost|floatformat:2}}</span>
                      </p>
                      <p>
                      <span class="d-block">Qty :{{c.quantity}}</span>
                      </p>                
                      </br>
                      <p><a href="{% url 'add_to_cart' course_id=c.id %}" class="btn btn-primary pill px-4 py-2 text-black">Enroll Now</a></p>
                      
                  </div>
                </div>
              </div>
<!-- end of courses details-->  
          {% endfor %} 
            </div>
          </div>
         </div>  
         
{%endblock%}  
  <!--  end of site-section content-->          
          






