<!-- load base.html--> 
{% extends 'base.html' %}
<!-- load static folder styling and images-->  
{% load static %}
<!-- load crispy form--> 
{% load crispy_forms_tags %}

<!-- .site-section carousel-->  
{%block title %}Search Classes{%endblock%}
{%block image %}<div style ="background-image: url({% static 'images/classes.jpg' %})">{%endblock%}

{%block content %}       
<!-- .site-section content-->  
<div class="site-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2 class="mb-5">Search Classes</h2>

<!-- search filter form-->             
        <form method="get">
          <div class="form-group">
            <label for="classes">By Classes</label>
              <select class="form-control" id="class" name="class">
              {% for c in all_courses %}
                <option>{{c.title}}</option>
              {% endfor %} 
              </select>
              <br/>
              <p><input type="submit" value="Search" class="btn btn-primary pill px-4 py-2 text-black"></p>
              <br/>
          </div>
        </form>

<!-- search results-->           
    {%if no_results is True%}
        <p>No results found</p>
        {%else%}
          <div class="row col-md-6 mx-auto col-lg-12 mb-5">
            {% for c in selected_courses %}
            <div class="program">
              {%if c.image %}
              <a href="#" class="d-block mb-0 thumbnail"><img src="{{c.image.cdn_url}}" alt="Image" class="img-fluid"></a>
              {%endif%}
              <div class="program-body">
                <h3 class="heading mb-2"><a href="#"><strong>{{c.title}}</strong></a></h3>
                  <p>{{c.desc}}</p>
                  <p><a href="#"></a> Instructor: <a href="{% url 'aboutus'%}">{{c.instructor.first_name}} {{c.instructor.last_name}}</a></p>
                <h3 class="heading mb-2"><strong>Time:</strong></h3>
                  <p>
                  <span class="d-block">{{c.day}}</span>
                  <span class="d-block">{{c.start_time}}</span>
                  </p>
                <div class="span"><span class="mr-4"><span class="icon-schedule icon"></span> {{c.number_of_minutes}} minutes</span></div>
                </br>
                <h3 class="heading mb-2"><strong>Price:</strong></h3>
                  <p>
                  <span class="d-block">S${{c.cost|floatformat:2}}</span>
                  </p>
                </br>
                 <p><a href="{% url 'add_to_cart' course_id=c.id %}" class="btn btn-primary pill px-4 py-2 text-white">Register Now</a></p>
              </div>  
            </div>
            {% endfor %}
            {%endif%}  
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  end of site-section content-->  
{%endblock%}         

    





