{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}
{%block title %}Edit Class Pass{%endblock%}
{%block image %}https://images.unsplash.com/photo-1485727749690-d091e8284ef3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80{%endblock%}

{%block content %}

<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
                <h2 class="mb-5">Edit Class Pass</h2>
            </div>
        </div>
        
        <div class="col-md-4 mx-auto mb-4 section-heading">
        {{ form.media }}
        <form method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        {{ CoursePassForm.as_p }}
        <input type='submit' value='Update'/>
        </form>
        </div>
    </div>
</div> 